<html>
<head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" href="./assets/css/style.css">   
    <link rel="stylesheet" href="./assets/css/login.css">      
</head>
<body>
    <div class="log-form">
        <h2>Inicio de session</h2>
        <form>
            <input type="text" title="user" placeholder="nombre de usuario" />
            <input type="password" title="pass" placeholder="clave de acceso" />
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a class="forgot" href="#">Olvidaste tus accesos?</a>
        </form>
    </div>    
</body>
</html>