@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}

body {
  font-family: 'open sans', helvetica, arial, sans;
  background:url(https://user-images.githubusercontent.com/44902537/48490527-deb79b00-e7e2-11e8-9dd3-236c847c2b91.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
margin-top:50px;
}

#browserLoader
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999999;
    background-color: #FFFFFF;
    opacity: .9;
    color: #444444
}

.content
{
    text-align: center;
    position: relative;
    top: 15%;
    z-index: 9999999;
}

